﻿
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>RequestedBy</th>
                    <th>ApproverEmail</th>
                    <th>CreatedBy</th>
                    <th>CreatedDate</th>
                    <th>Comments</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.js"></script>



<script>
    $(document).ready(function () {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Home/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            //"columnDefs":
            //[{
               
            //    "visible": true,
            //    "searchable": false
            //}],
            "columns": [
                { "data": "Status", "name": "Status", "autoWidth": true },
                { "data": "RequestedBy", "name": "RequestedBy", "autoWidth": true },
                { "data": "ApproverEmail", "name": "ApproverEmail", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedDate", "name": "CreatedDate", "autoWidth": true },
                { "data": "Comments", "name": "Comments", "autoWidth": true }
                //{
                //    "render": function (data, type, full, meta)
                //    { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
                //},
                //{
                //    data: null, render: function (data, type, row) {
                //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                //    }
                //},
            ]

        });
    });
 </script>  